<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIDebuggingInformationOverlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39325F191ED92BFF008F5E54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39325F321ED92BFF008F5E54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39325F3D1ED92BFF008F5E54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
